:root{
  --gray: #2c2c2c;
  --orange: #EB5530;
  --white: #e4dfdc;
  background-color: var(--gray);
}

@font-face {
  font-family: Roboto-Mono;
  src: url(./font/RobotoMono-Regular.ttf);
}

.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto-Mono;
}

#calculator{
  width: 45vw;
  height: 40vh;
  margin: auto;
  display: inline-flex;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 10px 10px #b3aeab;
  padding: 5px 5px 15px 5px;
}

input, input:active, input:hover{
  all: unset;
  outline: none;
  background-color: #eb553086;
  color: var(--white);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 20vw;
}

#total{
  background-color: var(--gray);
  color: var(--white);
  border-radius: 10px;
  padding: 10px;
  width: 20vw;
}

#bill-label{
  margin: 10px 0 0 0;
}

.orange{
  color: var(--orange);
}

#column-1{
  padding: 10px;
}

#column-1, #column-2{
  display: block;
}

#column-2{
  margin: auto;
  display: block;
}

button{
  all: unset;
  background-color: var(--orange);
  color: var(--white);
  padding: 10px 15px;
  width: 5vw;
  margin: 10px;
  border-radius: 10px;
}

@media (max-width: 933px){
  #calculator{
    width: 60vw;
  }

  button{
    padding-right: 30px;
  }
}

@media (max-width: 567px){
  #calculator{
    width: 80vw;
  }
  #total, input{
    width: 35vw;
  }
}
